body{
  overflow-x: hidden;
}
.pbutton {
  margin: 100px;
  margin-top: 400px;
}


.pbutton:hover .bgimg {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.bgimg {
  /* Set a specific height */
  min-height: 100vh;
  background-image: url('assets/index/img6.png');

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: 50 -100;
  /* even if we dont declare this the image will still be centered */
  -webkit-filter: brightness(0.20);
   filter: brightness(0.20); 
}



html {
  scroll-behavior: smooth;

}

#gallery {
  margin-top: 90px;
}

.services,
.gallery {
  padding: 80px 0px 60px;
  height: 700px;
}

.aboutimg {
  width: 100%;
  height: 250px;
}

.rowsetting {
  margin: 60px 0px;
}


.heading {

  font-size: 44px;

}

/*Toggler Icon*/




/*footer*/
.footer_style {
  background-color: #041d21;

  color: white;

}

.footer_style a {
  text-decoration: none;
  color: white;
}

.footer_style a:hover {
  text-decoration: none;
  color: #4bcffa;
}

.footer_style .d-flex div {
  text-align: center;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

.footer_style .d-flex div:last-child {
  border-right: none;
}


.footer_style li {
  list-style: none;
  float: left;
  margin-left: 10px;

}


.childrenparallax {

  margin-top: 200px;
  /* The image used */
  background-image: url("assets/index/children.png");

  /* Set a specific height */
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.falogocontainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;

}


.fa:hover .falogocontainer .item {
  font-size: 1000px;
}

.fa:hover {
  font-size: 6em;
  transition: 0.5s ease-out;

}

.meraclass {
  text-align: center;
  margin-top: 50px;
  font-size: 29px;
}

a {
  color: whitesmoke;
}


a.nav-link {
  color: #fff;
}

body {
  background-image: linear-gradient(#0a4c54, black, #0a4c54, black);
  background-repeat: no-repeat;
  color: whitesmoke;
}

.card:hover .card-block .rotate .fa {
  font-size: 6em;
  transition: 1s ease-out;
}


.services,
.gallery {
  padding: 80px 0px 60px;
  height: 700px;
}

.rowsetting {
  margin: 60px 0px;
}


.heading {

  font-size: 44px;

}




/* NAVBAR */
.dropdown-menu {
  height: 80px;
  margin-top: -5px;
  border: none;
  text-align: center;
  background-color: #074b57;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #aac7c5;

  
  



}

.dropdown:hover>.dropdown-menu {
  display: block;

}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  animation: load 0.5s both;


}
.dropdown-item {
color: white;
display: block;
font-size: 15px;
padding: auto;
text-decoration: none;
text-transform: uppercase;
font-family: 'Lato', sans-serif;
font-weight: 500;
}


.dropdown-item:hover{
  background-color: teal;
}

.dropdown-menu:hover {
  color: #87edbf;

}

@keyframes load {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    opacity: .9;
    transform: translateY(0px);
  }
}

.nav-link {
  display: block;
  font-size: 15px;
  padding: 0 0 8px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.8px;
  color: white;
}

.nav-item {
  padding: 0 5px;
}

.navbar {
  background-color: #041d21;
}

/*#084b66*/
.nav-item:hover>.nav-link {
  color: #3FE0D0;
}

/*#3FE0D0*/
.nav-link {
  padding: 16px 17px;
}



.pdfs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;

}

.pdfs img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}


#second {
  width: 300px;
  margin-left: 100px;
}


.expertiseitems ul {
  list-style-type: none;

}

.expertiseitems {
  line-height: 100px;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;


  font-family: 'Raleway', sans-serif;


}


.expertiseitems a {
  text-decoration: none;

}

.expleft li:hover {
  font-size: 1.25em;
  transition: 0.5s ease-out;
  color: darkgoldenrod;
}


.expright li:hover {
  font-size: 1.25em;
  transition: 0.5s ease-out;
  color: darkgoldenrod;
}



.expright {
  margin-right: 80px;
}

.expleft {
  margin-left: 10px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.dashed {
  border-style: dashed;
  padding: 30px;
  color: black;
}


.bandimages {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
  width: 200px;
  height: 200px;
}

.navbar-brand img {
  position: absolute;
  margin-top: -25px;
  margin-left: 15px;
  width: 100px;
  height: 100px;
}






.arrow,
.arrow:before {
  position: absolute;
  left: 50%
}

.arrow {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  margin-top: 50px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}


.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0;
    transform: translate(-10px, -10px)
  }
}

/*---------------------------Gallery--------------------------*/

.portfolio {
  width: 100%;
}

.portfolio .card {
  margin-top: 40px;
  border: none;
  border-radius: 0%;
}

.portfolio .card img {
  width: 100%;
  height: 200px;
  border-radius: 0%;

}

.portfolio .card {
  overflow: hidden;

}

.inner img {
  transition: all 1.5s ease;
  border: none;


}

.inner:hover img {
  transform: scale(1.5);
}


#contact {
  margin-top: 90px;
}


.priyahcontainer {
  margin-left: 60px;

  position: relative;
  width: 100%;
  max-width: 150px;
}

.priyahcontainer img {
  width: 100%;
  height: auto;
}

.priyahcontainer a {
  text-decoration: none;
}

.priyahcontainer .priyahbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
  color: black;

  border: 2px solid #05383d;
  border-radius: 10px;
  margin-left: -10px;
}

.priyahcontainer .priyahbtn:hover {
  background-color: black;
}

.priyahcontainer:hover .priyahbtn {
  display: inline-block;
  background-color: #0a4c54;


}

.priyahcontainer:hover img {
  -webkit-filter: opacity(30%);
  filter: opacity(30%);
}

.priyahcontainer:hover .priyahbtn a {
  color: white;
  font-family: 'Lato', sans-serif;
  text-decoration: none;


}



@media(max-width: 768px) {
  body{
    font-size: 10px;
    overflow-x: hidden;
  }
  .footer_style li {
    list-style: none;
  }
.navbar img{
  margin-left: -10px;
width: 70px;
height: 70px;}

  .footer_style .d-flex span {
    display: none;
  }

  .bgimg {
    height: 50% !important;
  }

  #notyourclass{
    margin-left: -15px;
    font-size: 20px;
  
    
  }


   #joinbtn{
    margin-top:-10px;
    margin-left:90px;
  }

  .falogocontainer   .fa{
      font-size: 25px;
   }


   
.pdfs {
  display: flex;
  flex-direction: column;
}

 #second{
margin: auto;}

.items{
  margin-bottom: 50px !important;
}
.items h5{
  font-size: 15px;
}

.sec-head, .thi-head{
  width: 250px;  
  text-align: center;
}

#contact{
  margin-top: -20px;
}

#marginkeliye .col-md-6{
  margin-bottom: 70px !important;
}
.dropdown-menu {

width: 200px;
margin-left: 20%;
}










#aishh {
  width: 100%;
  position: relative;
  opacity: 1;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}

#aishh:hover {
  width: 110%;
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 gray;
}

#xyzz:hover {
  -webkit-transform: scale(1.04);
}

#container {

  left: 0;
  top: 0;
  width: 400%;
  position: relative;
  height: 100vh;
  display: flex;
}


.bgkacolor {
  background-color: teal;
}

#container .section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .section .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .section .content .text {
  padding-right: 50px;
}

#container .section .content .text h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#container .section .content .text .btn {
  margin-top: 15%;
}

#container .section .content img {
  max-width: 500px;
}

#container .back1,
.back2 {
  background-color: transparent;

  padding-left: 25px;
}

.content .text {
  color: black;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#header {
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 200px;
}

.text-box {
  height: 600px;
  padding: 50px;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg {
      background-attachment: scroll;
  }
}

/*#notyourclass {
  margin-top: 160px;
  margin-left: -20px;
  color: rgb(7, 3, 3);
  font-family: 'Ubuntu', sans-serif;
  font-size: 45px;
  text-shadow: 2px 2px 5px rgb(248, 131, 131);

}*/

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 25%;
  z-index: 1;
  color:rgb(19, 2, 2);
  text-transform: uppercase;
  margin-left:20px;
}
.caption h1 {
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .1rem 
  black;
  padding-bottom: 1rem;
  font-family: 'Ubuntu', sans-serif;
  
}