body,html {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0a4c54), to(black));
    background-image: linear-gradient(#0a4c54, black);
    color: white;
    overflow-x: hidden;
    max-width: 100%;
  }
      .container-crime{
          margin: 7%;
          padding: 0;
          font-family: 'Open Sans', sans-serif;
  
      }

    .container-crime .card{
          margin-bottom: 5% !important;
          border: none;
          
      }
/*
      .container-crime .card .img-fluid{
          height: 500px;
      }
*/
      
      .crimeinfo{
     
        background-color: rgb(238, 225, 225);
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 5%;
       
     
     color: black;
   
 }
 
 

     
    .crimeinfo p{
        font-size: 22px;
        

    }

    .footer .contain .col h1, .footer .contain .col p{
        color: white;
    }
  
    @media only screen and (max-width: 800px){
        .container-crime{
            margin: 5%;
        }
      .crimeinfo p {
   
         
                 font-size: 16px;
                 margin-left: 1%;
             }
          
   }