
body,html {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
   background-color: white;
    color: black;
    overflow-x: hidden;
    max-width: 100%;
  }
      .container-crime{
          margin: 7%;
          padding: 0;
          font-family: 'Times New Roman', Times, serif;
  
      }

    .container-crime .card{
          margin-bottom: 5% !important;
          border: none;
          
      }
/*
      .container-crime .card .img-fluid{
          height: 500px;
      }
*/
      
      .crimeinfo{
     
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 5%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.50) !important;
     background-color: white;
     color: black;
     font-size: 16px;
   
 }
 
 

     
    .crimeinfo p{
        font-size: 21px;
        text-align: justify;
        

    }

    .footer .contain .col h1, .footer .contain .col p{
        color: white;
    }
  
    @media only screen and (max-width: 800px){
        .container-crime{
            margin: 5%;
        }
      .crimeinfo p {
   
         
                 font-size: 16px;
                 margin-left: 1%;
             }
          
   }

    .animated h1{
        font-family: 'Times New Roman', Times, serif !important;

        
    }
    @media screen and (max-width: 473px) {
  
       
        .animated h1{
            font-size: 24px;
            text-align: center;
        }
    }