html{
    overflow-x: initial !important;
}
body{
background-color: whitesmoke;
    overflow-y:auto;
}
*{
    color:white;
}
hr{
    border-color:gray;
}
.start{
    padding-top:50px;
    color:black;
}

.start1{
    color:black;
}
#textt{
    color: whitesmoke;
    font-size: 20px;
}

.card{
    border-radius:20px;
    background-color: #000 !important;
    transition: transform .5s !important;

}

.card:hover{
    transform: scale(1.25) !important; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(74, 238, 169, 0.19) !important;
}

.class-images{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.class-images img:hover{
    
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.class-images img{
    margin-left: 20px;
}


@media screen and (max-width: 473px) {
body{
    font-size: 20px;
}

.animated h1{
    font-size: 27px;
}

.typewriter h4{
    font-size: 11px;
}
#textt{
    font-size: 15px;
}
.animated.lightSpeedIn{
    font-size: 15px;
}

.display-4.animated.fadeInDown{
    font-size: 20px;
}
.class-images{
    margin-top: -10px;
    align-items: center;
    flex-direction: column;
}

.class-images img{  
    height: 150px;
    width: 200px;

    margin-bottom: 10px;
}
}

#tay{
    max-width: 18rem;
}