.col-md-12 {
    margin-top: 100px;
  }


  #aish1:hover {
    -webkit-transform: scale(1.05);
  }

  #aish1{
    float:left;
    border-color: black;
    max-width: 900px;
    
  }


  #aish2{
    background-color:black;
    font-size: 18px;
    color: white;
    padding-top: 2%;
  }

  #aish3:hover {
        -webkit-transform: scale(1.05);
}

#aish3{
    border-color: black;
    max-width: 900px; 
    float:right;
    color: white;

}

#ul1{
    color:white;
    background-color: black;
    font-size: 18px;
    

}
#l1{
    background-color: black;
    color: cornsilk;
    font-size: 18px;
    

}

#ul2{
    color:white;
    background-color:black; 
    margin-bottom: 15px;
    font-size: 18px;

}

#aish4:hover {
    -webkit-transform: scale(1.05);
}

#aish4{
    border-color: black;
    max-width: 900px;
    float:right;
}

#aish5:hover {
    -webkit-transform: scale(1.05);
}

#aish5{
    border-color: black;
    max-width: 900px;
}

#tay1{
    color:white;
    background-color:black ; 
    margin-bottom: 90px;
    font-size: 18px;

}

#tay2{
    background-color: black;
    color: cornsilk;
    font-size: 18px;

}
  
  .body {
    overflow-x: hidden;
  }

  @media screen and (max-width: 473px) {
    body {
      font-size: 16px;
    }

    .col-md-12 {
      margin-top: 25px;
    }

    .animated h1 {
      font-size: 27px;
    }

    .typewriter h4 {
      font-size: 11px;
    }
    
  #aish2,#ul1,#l1,#ul2,#tay1,#tay2{
   
    font-size: 15px;
       
  }
  }

