body{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;

}

.hazardcontainer{
    margin: 5% 7% 5% 7%;
}

.hazardcont {
    /*box-shadow: 0px 0px 15px 0px rgb(143, 136, 136);*/
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    margin-top: 7%;
    
  }
  .hazardcont1 {
    box-shadow: 0px 0px 15px 0px rgb(143, 136, 136);
    padding: 20px;
    border-radius: 10px;
    margin-top: 7%;
    
  }
.hazard p{
    font-size:1.4em;
    text-align: justify;
}

.hazardimg{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    
}

.hazardimg img{
    height: 400px;
    width: 700px;
   
}
#textt{
    color: black;
    font-size: 20px;
}
.card-text{
text-align: center;
}
.card{
    border: none;
    background: linear-gradient(45deg,#f86f2d,#faaa3a,#f86f2d);
    border-radius:20px;
    transition: transform .5s !important;

}
.card-body{
    height: 100px;
    min-width: 200px;

}
.card:hover{
    transform: scale(1.09) !important; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(74, 238, 169, 0.19) !important;
}

#tay{
    max-width: 18rem;
}
.hazardh1 h1{
    font-size: 2.1em;
    margin-bottom: 4%;
}
.hazzard{
    margin-bottom: 5%;
}
.hazardstep{
    margin-top: 7%;
    margin-bottom: 10%;
    background-color: white;
    padding: 40px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px #5f5c5c;
}

@media screen and (max-width: 930px) {

    .hazard p{
        font-size:1.3em;
    }
    .hazardh1 h1{
        font-size: 1.8em;
    }
}

@media screen and (max-width: 768px) {

    .hazard p{
        font-size:18px;
    }
   
 
}
@media screen and (max-width: 561px) {

    .hazard p{
        font-size:16px;
    }
    .hazardh1 h1{
        font-size: 20px;
    }
    .hazardstep{
        margin-top: 15%;
    }
}

@media screen and (max-width: 850px) {

    .hazardimg img{
        height: 300px;
        width: 500px;
       
    }

}
@media screen and (max-width: 600px) {

    .hazardimg img{
        height: 250px;
        width: 400px;
       
    }

}




@media screen and (max-width: 473px) {
 
    #textt{
        font-size: 15px;
    }
    .hazardh1 h1{
        font-size: 19px;
    }
    .animated h1{
        font-size: 25px !important;
    }
    
    .typewriter h4 {
        font-size: 13px !important;
    }
    .hazardimg img{
        height: 200px;
        width: 250px;
       
    }
}