

        .footer {
            background-color:#252525 ;
            color: white;
            width: 100%;
            margin-top: 5%;
            font-family: 'Times New Roman', Times, serif;
           /* font-family: 'Lato', sans-serif;*/
        }

        .footer a{
            text-decoration: none;
        }

        .footer a:hover{
            
            text-decoration: none;
            color: #4bcffa;
        }
        .footer .col {
            width: 30%;
            height: auto;
            float: left;
            display: flex;
            justify-content: center;
          
            box-sizing: border-box;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 20px 20px 20px 20px;
        }

        .footer .col h1 {
            margin: 0;
            padding: 0;
            font-size: 25px;
            letter-spacing: 0.1rem;
            padding: 20px 0px 5px 0px;


        }
        .footer .col p{
            margin: 0;        
            font-size: 16px;
            padding: 20px 0px 5px 0px;
            text-align: center;
            
        }
       .footer .social ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
        .footer .social ul li {
            margin-left: 3px;
            margin-top: 8%;
            padding-right: 5px !important;
        }
        .footer .social ul li a {
            color: #fff;
            padding: 5px 0px 5px 0px;
            cursor: pointer;
           transition: .2s;
            -webkit-transition: .2s;
            -moz-transition: .2s;
            text-decoration: none;
        }
        

        .footer .social ul li a:hover {
            color: #f86f2d;
           
           transition: .1s;
            -webkit-transition: .1s;
            -moz-transition: .1s;
        }

        .clearfix {
            clear: both;
        }

        @media only screen and (min-width: 1280px) {
            .contain {
                width: 1200px;
                margin: 0 auto;
               
            }
           
        }

        @media only screen and (max-width: 1139px) {
          .footer{
              padding-bottom: 5%;
          }

            .social h1 {
                margin: 0px;
            }
           
           
        }

        @media only screen and (max-width: 950px) {
            .footer .col {
                width: 100%;
                padding: 0px 0px 10px 0px;

            }
            .footer .col p{
                padding: 10px 0px 5px 0px;
                font-size: 14px;
                
            }

            .footer .col h1{
                font-size: 20px;
            }

            .footer .col ul li {
                font-size: 13px;
            }
        }

        @media only screen and (max-width: 500px) {
            .footer .col {
                width: 100%;
                padding: 0px 0px 10px 10px;
                
            }

            .footer .col h1 {
                font-size: 20px;
            }
           

        }

        @media only screen and (max-width: 340px) {
            .footer .col {
                width: 100%;
            }
        }