body {
    background-image: linear-gradient(#0a4c54, black);
  }

  hr.new {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    width: 90%;
  }

  #roadash {
    border-radius: 30px;

  }

  .jumbotron {
    background: none
  }
.lead{
font-size: 28px;
  font-weight: 300;
}

.list-group{
font-size: 22px;
}


  @media screen and (max-width: 473px) {

    body,
    .lead {
      font-size: 18px;
    }

    .typewriter h4 {
      font-size: 15px;
    }


    .lead {
      font-weight: bold;
    }
    .list-group{
      font-size: 16px;
    }
  }