
.helmet{
    display: flex;
    justify-content: center;
    margin-top: -25px;
    align-items: center;
}

.safety-text{
    margin: 50px 50px 30px 50px;
    font-size: 20px;
}


.school {
    float: right;
}
   .school img {
       width:400px;
       height:300px;
       margin-left:15px;
      }

    @media screen and (max-width: 473px) {
        .school img{
            width: 345px;
        }

        .safety-text{
            font-size: 15px ;
            margin-left: 5px;
            margin-right: 5px;
        }
        .animated h1{
            font-size: 25px;
        }
        
        .typewriter h4 {
            font-size: 11px;
        }
    }        



    /*body{
  font-family: 'Josefin Sans', sans-serif;
}
        #sizee{
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2;
        }*/