
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0a4c54), to(black));
    background-image: linear-gradient(#0a4c54, black);
    color: white;
    background-size: cover;
}

.successcontent{
    margin: 5%;
}

.successcontent .pt1 h1{
    font-size: 1.8em;
    color: brown;
}

.successcontent .pt1 ol ul li{
    color: chartreuse;
}













/*
.pt1 h1 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
}

.pt2 h1 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 50px;
}

.pt11 ul li {
    list-style: none;
    font-size: large;
    font-weight: 200;
    padding: 10px auto 5px;
}

.pt11 ul {
    list-style-type: disc;
}





.kcontent .pt1 {
    margin-top: 50px;
}
*/
.class-images {
    display: flex;
    flex-direction: row;
}

.class-images .andar {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.class-images img {
    margin-top: 50px;
    width: 400px;
    height: 300px;
}

.class-images img:hover {
    filter: sepia(100%);
}

.class-images img {
    margin-left: 20px;
}


/*
hr.new {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
*/

@media only screen and (max-width: 800px) {
/*
.kcontent .pt1 h1 li {
font-size: 20px !important;
margin-left: -40px !important;
text-align: center !important;

}

.pt2 h1 {
font-size: 20px !important;
}

.about--part2 li {
font-size: 10px !important;
margin-left: -40px !important;
text-align: center !important;

}*/

.animated h1 {
font-size: 30px;
}

.typewriter h4 {
font-size: 10px;
}

.class-images {
align-items: center;
flex-direction: column;
}

.class-images img {
height: 100px;
width: 250px;
margin-bottom: 10px;
margin: 10px auto 20px;
display: block;
}



}