body{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;

}

.womencontainer{
    margin: 5% 6% 5% 6%;
}

.womencont {
    /*box-shadow: 0px 0px 15px 0px rgb(143, 136, 136);*/
  /*  padding: 20px;*/
    border-radius: 10px;
    margin-top: 7%;
    
  }
.women p{
    font-size:1.4em;
    text-align: justify;
}


/*
.womenimg img{
    height: 400px;
    width: 700px;
   
}
*/

        .womanp {
            margin: 50px 50px 30px 0px;
            font-size: 20px;
            text-align: justify;
        }

        .womanimg {
            max-width: 100%;
            height: auto;
          min-height: 210px;
            float: right;
            margin-right: 30px;
            margin-left: 50px;
            margin-top: 30px;

        }
@media screen and (max-width: 930px) {

    .women p{
        font-size:1.3em;
    }

}
@media screen and (max-width: 1023px) {

   .womanimg{
       width:500px;
   }

}


@media screen and (max-width: 768px) {

    .women p{
        font-size:18px;
        margin-right: 0px;
        margin-left: 0px;
    }
    

}


/*
@media screen and (max-width: 850px) {

    .womenimg img{
        height: 300px;
        width: 500px;
       
    }

}
@media screen and (max-width: 600px) {

    .womenimg img{
        height: 250px;
        width: 400px;
       
    }

}
@media screen and (max-width: 450px) {

    .womenimg img{
        height: 200px;
        width: 250px;
       
    }

}*/

@media screen and (max-width: 473px) {
 
    .animated h1{
        font-size: 25px !important;
    }
    
    .typewriter h4 {
        font-size: 10px !important;
    }
} 

@media screen and (max-width: 561px) {
            
            
    html *{font-size: 1em !important;
        
    }
    

    .womanp{
        font-size:1em;

        margin-left: 10px;
        margin-right: 10px;
    }

    .womanimg{
        margin-bottom: 20px;
        /*margin-right: -7.7px;*/
        float: none !important;
        margin-left: 0px !important;
}

}