html{
    overflow-x: initial !important;
}
body{
    background-image:linear-gradient(#0a4c54,black);
    overflow-y:auto;
}
*{
    color:white;
}
hr{
    border-color:gray;
}
.start{
    padding-top:50px;
}

.card{
    border-radius:20px;
}