body{
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0a4c54), to(black));
  background-image: linear-gradient(#0a4c54, black);
  }
  .rowsett{
   
    margin:20px 5px 10px 5px;


  }
  .container-test{
    margin: 5%;
  }
.container-test .card{
  border: none;
  overflow: hidden;
}
.container-test .card img{
  border-radius: 0%;
}

.inner img{
  transition: all 1.5s ease;
  border:none;

}


.inner:hover img{
  transform:scale(1.1);
}